/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Poppins" , sans-serif; */
  font-family: 'Tahoma';
}

body{
  height: 100vh;
  width: 100vw;
  background: linear-gradient(60deg, #736AFF, #AA6DEB);

}

/* .drawer-nav-open-btn {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: #f9f9f9;
  border: none;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.3);
  transition: .4s;
} */

.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.drawer-nav-open-btn {
  position: absolute;
  z-index: 200;
  overflow: visible;
  opacity: 1;
  cursor: pointer;
  pointer-events: auto;
  background-image: url(https://www.360saudia.com/vr/endata/graphics/saudiabutton6/bs-menu2-open.png);
  width: 60px;
  height: 60px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  background-position: 0px 0px;
  background-size: 60px 180px;
  transform: translateZ(1e12px) translate(0px, 263px) translate(-30px, -30px) scale(0.5, 0.5) translate(30px, 30px) translate(-30px, 0px) rotate(0deg) translate(30px, 0px);
}

.drawer-nav-open-btn:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.frame-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: orange;
}

.back-icon {
  padding: 20px;
  border-radius: 50%;
  outline: 1px solid green;
  background-color: transparent;
  transition: .5s;
}

.back-icon:hover {
  background-color: green;
  color: #fff;
}

.container {
  position: relative;
}

.content-container {
  display: flex;
}

.alfursan-content, .dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 4000;
  width: 300px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  animation: slideDown 0.3s ease-out forwards;
  
}

@keyframes slideDown {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.show-dropdown {
  display: block;
}

.show-dropdown::after {
  margin-bottom: 30px;
}

::-webkit-scrollbar {
  display: none;
}

.nav_list {
  display: flex;
}

.plane-nav-list {
  display: none;
}

.plane-nav-list.show {
  display: block;
}

.alfursan-nav-list {
  display: none;
}

.alfursan-nav-list.show {
  display: block;
}

.sidebar {
  position: fixed;
  height: 100vh;
  width: 0px;
  background: #fff;
  z-index: 99;
  transition: width .5s;
  overflow-y: auto;
}

.sidebar.open{
  width: 300px;
  transition: width .5s;
}

.sidebar .logo{
  display: flex;
  height: 90px;
  justify-content: space-between;
  align-items: center;
  background: green;
  position: sticky;
  top: 0;
  z-index: 5000;
}

.sidebar .logo #logo_img{
  position: absolute;
  top: 25px;
  left: 12px;
  height: 40px;
  cursor: pointer;
}

.sidebar .logo .logo_text{
  margin-left: 70px;
  font-size: 20px;
  font-weight: bold;
  background: linear-gradient(60deg, #736AFF, #AA6DEB);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transform: translateX(-250px);
  transition: .5s;
}

.sidebar.open .logo .logo_text{
  opacity: 1;
  transform: translateX(0);
  transition: .5s;
}

.sidebar .logo #btn{
  color: #ffffff;
  margin-right: 20px;
  font-size: 30px;
  opacity: 0;
  transform: translateX(-250px);
  transition: .5s;
}

.sidebar.open .logo #btn{
  opacity: 1;
  transform: translateX(255px);
  transition: .5s;
  cursor: pointer;
}

ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

ul li{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}

ul li a,
.logout a{
  display: flex;
  align-items: center;
  text-decoration: none;
  
}

ul li span {
  display: flex;
  align-items: center;
  text-decoration: none;
}

ul li a i,
.logout a i{
  position: relative;
  color: #575F66;
  font-size: 25px;
  margin-left: calc((78px - 25px)/2);
  z-index: 10;
}

ul li a img {
  position: relative;
  width: 30px;
  height: 30px;
  font-size: 25px;
  margin-left: calc((78px - 25px)/2);
  z-index: 10;
}

.sidebar .alfursan-nav-list {
  transform: translateX(-250px);
  opacity: 0;
  transition: 1s;
}

.sidebar .alfursan-nav-list.show {
  transform: translateX(0);
  opacity: 1;
}

.sidebar ul li a .links_name,
.sidebar .logout a .links_name{
  color: #575F66;
  margin: auto 30px;
  width: 120px;
  transform: translateX(-250px);
  opacity: 0;
}

.sidebar.open ul li a .links_name,
.sidebar.open .logout a .links_name {
  transform: translateX(0);
  opacity: 1;
  transition: .5s;
  font-size: 14px;
}



.links_name p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


ul li a:hover i, 
ul li a:hover .links_name{
  color: #4D6FFF;
  transition: .5s;
}

.sidebar ul li .tooltip,
.sidebar .logout .tooltip{
  color: #575F66;
  background: #fff;
  width: 110px;
  padding: 6px 12px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  opacity: 0;
  position: absolute;
  left: 0px;
  z-index: 8;
  transition: .5s;
}

.sidebar ul li:hover .tooltip,
.sidebar .logout:hover .tooltip{
  opacity: 1;
  left: 85px;
  transition: .5s;
}

.sidebar.open ul li .tooltip,
.sidebar.open .logout .tooltip{
  display: none;
}

.Messages:after{
  position: absolute;
  content: "3";
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  height: 20px;
  width: 30px;
  border-radius: 50px;
  background: #ff5151;
  text-align: center;
  line-height: 20px;
  left: 160px;
}

.Dropdown .image-wrapper {
  display: inline-flex;
  position: absolute;
  left: 160px;
  bottom: 1px;
  width: 30px; /* Set the width */
  height: 30px; /* Set the height */
  background: url("https://www.360saudia.com/vr/endata/graphics/alpo.sidebar-v1.0.72/i-arr.png");
  background-size: cover; /* Adjust the background size property as needed */
}

.Info .info-wrapper {
  display: inline-flex;
  position: absolute;
  left: 160px;
  bottom: 1px;
  width: 30px; /* Set the width */
  height: 30px; /* Set the height */
  background: url("https://www.360saudia.com/vr/endata/graphics/alpo.sidebar-v1.0.72/i-inf.png");
  background-size: cover;
}

.VR .vr-links {
  display: inline-flex;
  position: absolute;
  left: 160px;
  bottom: 1px;
  width: 30px; /* Set the width */
  height: 30px; /* Set the height */
  background: url("https://www.360saudia.com/vr/endata/graphics/alpo.sidebar-v1.0.72/i-pan.png");
  background-size: cover;
}

.sidebar .info{
  position: relative;
  margin-top: 10px;
}

.sidebar .info a .avatar{
  position: relative;
  width: 78px;
  z-index: 10;
  transition: .5s;
}

.sidebar.open .info a .avatar{
  transform: translateX(86px);
  transition: .75s;
}

.sidebar .info a .table{
  position: absolute;
  z-index: 8;
  top: 30px;
  width: 70%;
  left: 15%;
  height: 0;
  margin: 0px auto;
  color: #fff;
  background: linear-gradient(60deg, #4D6FFF, #AA6DEB);
  border-radius: 20px;
  opacity: 1;
  transition: .5s;
}

.sidebar.open .info a .table{
  opacity: 1;
  height: 150px;
  transition: .5s;
}

.sidebar .info .tooltip{
  color: #575F66;
  background: #fff;
  font-size: 15px;
  width: 150px;
  padding: 6px 12px; 
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  opacity: 0;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 8;
  transition: .5s;
}

.sidebar .info:hover .tooltip{
  opacity: 1;
  left: 85px;
  transition: .5s;
}

.sidebar.open .info .tooltip{
  display: none;
}

.sidebar .info .table_text{
  margin: 40px 10px 0px;
  text-align: center;
  font-size: 0px;
  line-height: 25px;
  opacity: 0;
}

.sidebar.open .info .table_text{
  font-size: 13px;
  opacity: 1;
  transition: .5s;
}

.table_text span{
  font-size: 14px;
  font-weight: bold;
}

.name{
  font-weight: bolder;
}

.country{
  font-size: 13px;
}

.logout{
  position: absolute;
  bottom: 30px;
  display: flex;
  align-items: center;
}

.logout a:hover i, 
.logout a:hover .links_name{
  color: #4D6FFF;
  transition: .5s;
}

.Home_section{
  position: relative;
  min-height: 100vh;
  top: 0;
  left: calc(78px - 20px);
  width: 100vw;
  z-index: 2;
  transition: all 0.5s ease;
}

.sidebar.open ~ .Home_section{
  left: calc(250px - 20px);;
  transition: all 0.5s ease;
}

.Home_section .text{
  display: inline-block;
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  margin: 30px;
  margin-left: 40px;
}
